@model MusicViet.DataModel.Album


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm("Create", "Album", FormMethod.Post, new { enctype = "multipart/form-data" })) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Album</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.AlbumTitle, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AlbumTitle)
                    @Html.ValidationMessageFor(model => model.AlbumTitle)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.AblumPhoto, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="Image"  />
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DesAlbum, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.DesAlbum, new { @class = "form-control", @rows = "10" })
                    @Html.ValidationMessageFor(model => model.DesAlbum)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
