@model MusicViet.DataModel.Song


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Song</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.SongId)
    
            <div class="form-group">
                @Html.LabelFor(model => model.SongTitle, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SongTitle)
                    @Html.ValidationMessageFor(model => model.SongTitle)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.MusicianId, "MusicianId", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MusicianId", String.Empty)
                    @Html.ValidationMessageFor(model => model.MusicianId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.SingerId, "SingerId", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SingerId", String.Empty)
                    @Html.ValidationMessageFor(model => model.SingerId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.AlbumId, "AlbumId", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("AlbumId", String.Empty)
                    @Html.ValidationMessageFor(model => model.AlbumId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.MusicGenresId, "MusicGenresId", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MusicGenresId", String.Empty)
                    @Html.ValidationMessageFor(model => model.MusicGenresId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.PathMusic, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PathMusic)
                    @Html.ValidationMessageFor(model => model.PathMusic)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DateUpload, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateUpload)
                    @Html.ValidationMessageFor(model => model.DateUpload)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Views, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Views)
                    @Html.ValidationMessageFor(model => model.Views)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.WhoUp, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WhoUp)
                    @Html.ValidationMessageFor(model => model.WhoUp)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
